---
import BlockRender from '../components/BlockRender.astro'
import CommunHead from '../components/CommunHead.astro'

import '../styles/global.css'
import type { Block } from '@wp-block-tools/styles'

const response = await fetch( `${import.meta.env.WPGRAPHQL_URL}`, {
	method: 'POST',
	headers: {
		'content-type': 'application/json',
	},
	body: JSON.stringify({
		query:`
			query PageQuery {
  				nodeByUri(uri: "/") {
					... on Page {
						id
						blocks
						seo {
							metaDesc
							title
						}
					}
  				}
			}
		`
	})
})

const {data} = await response.json()
const blocks: Block[] = data.nodeByUri?.blocks || []
const {metaDesc ="",title=""} = data.nodeByUri?.seo || {}

---

<!doctype html>
<html lang="en">
	<CommunHead title={title} description={metaDesc}/>
	<body>
		<BlockRender blocks={blocks}/>
	</body>
</html>